div {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

div>div {
    border: black solid 1px;
    box-sizing: border-box;
}


div>div:hover {
    background-color: gray;
}